<table>
    <thead>
        <tr>
            <th>Verify Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hi, <%= fullName %></td>
            <td>Click on the button below to verify your email.</td>
            <td>
                <a
                    style="
                        padding: 6px 10px;
                        background-color: #1a3ecd;
                        color: #fff;
                        text-decoration: none;
                    "
                    href="<%= verifyLink %>"
                    >Verify Email</a
                >
            </td>
        </tr>
    </tbody>
</table>
